.modals{
  width: 200px;
  height: auto;
  padding: 20px;
  background: #fff;
  margin-top: 50px;
  position: absolute;
  left: 20%;
  transform: translate(-20%,0);
  border:1px solid black;
  transition: linear 2s;
}
li{
  list-style: none;
}
.item{
  border-radius: 50% 50%;
  border: 1px solid black;
  background-color: rgb(191, 189, 194);
  width: 30px;
  height: 30px;
  float: left;
  position: relative;
  margin: 5px;
}
h6{
  text-align:center;
}
