.topnav {
  overflow: hidden;
  background-color: #075e55;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 7px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 5px;
}

.topnav a:hover, .topnav a:focus {
  background-color: #075e55;
  color: white;
  border-bottom: 3px solid #fff;
}

.active{
  /* border-bottom: 3px solid #fff; */
}
